.header {
    background: #ffbccf;
    border:1px solid #999;
    padding: 20px;
    margin-bottom: 20px;
}
.whatsapp{
      position: fixed;
      right: 5px;
      display: flex;
      bottom: 5px;
      z-index: 102;
      cursor: pointer;
      gap: 15px;
      overflow: hidden;
      flex-wrap: wrap;
      transition: .2s linear;
  }
    .whatsapp img{
      z-index: 102;
      width: 60px;
      height: 60px; 
      object-fit: cover;
      transition: .2s linear;
  }
  .whatsapp:hover{
      transform: scale(1.1);
  }
